{% if shop.customer_accounts_enabled %}
  <div class="hidden lg:inline">
  {% if customer %}
      <a href="/account" class="mr-5 font-semibold leading-6 text-gray-500 hover:text-gray-600">account</a>
    {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="mr-5 font-semibold leading-6 text-gray-500 hover:text-gray-600"' }}
  {% else %}
    {{ 'Log in' | customer_login_link | replace: '<a', '<a class="mr-5 font-semibold leading-6 text-gray-500 hover:text-gray-600"' }}
    {{ 'Register' | customer_register_link | replace: '<a', '<a class="mr-5 font-semibold leading-6 text-gray-500 hover:text-gray-600"' }}
  {% endif %}
  </div>
{% endif %}