<div id="search-menu" class="w-full z-50 hidden top-0 left-0 right-0 bg-black/90 border">
  <button onclick="toggleSearchMenu()" type="button" class="absolute top-0 right-0 mr-5 mt-5 text-white">
    {% render 'icon-close' %}
  </button>
  <div class="h-screen flex justify-center items-center">
    <form action="{{ routes.search_url }}" method="GET" class="flex-auto">
      <div class="flex items-center justify-between text-white px-4 max-w-5xl pb-4 mx-auto border-b-2 border-b-white">
        <input 
           type="search" 
           name="q" 
           placeholder="Search..." 
           class="w-full bg-transparent h-10 pr-10 px-5 text-3xl focus:outline-none" />
        <button type="submit" class=" text-gray-900 rounded-full bg-gray-100 p-3 mr-2 md:mr-12">
          {% render 'icon-search' %}
        </button>
      </div>
    </form>
    <div id="search-results"></div>
  </div>
</div>