<script type="module" src="{{ 'cart.js' | asset_url }}"></script>
{% if cart.item_count > 0 %}
  <section id="cart">
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="mx-auto max-w-5xl">
        <header class="text-center">
          <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h1>
        </header>

        <div class="mt-8">
          <ul class="space-y-4">
              <template v-for="item in cartItems" :key="item.id">
                <li v-cloak class="flex items-center gap-4">
                  <a :href="item.url">
                      <img
                        :src="item.image"
                        alt="item.image_alt"
                        class="w-16 h-16 object-cover rounded"
                        loading="eager" />
                  </a>
                  <div>
                  <h3 class=" text-gray-900">
                    <a :href="item.url" class="my-1">${item.title}</a>
                  </h3>
                    <template v-for="(option, index) in item.item_options" :key="index">
                      <dl class="mt-0.5 space-y-px text-[12px] text-gray-600">
                        <div>
                          <dt class="inline">${option.name}: </dt>
                          <dd class="inline">${option.value}</dd>
                        </div>
                      </dl>
                    </template>
                    </div>
                  <div class="mt-0.5 flex flex-1 justify-end text-gray-600">
                  <label for="Quantity-" class="sr-only">
                    Quantity
                  </label>
                  <div class="w-32 flex items-center rounded border border-gray-900">
                    <button
                      @click="item.quantity = decrementQuantity(item.key, item.quantity)"
                      type="button"
                      class="h-10 w-10 leading-10 text-gray-900 transition hover:opacity-75">
                      &minus;
                    </button>

                    <input
                      type="number"
                      id="Quantity-"
                      name="Quantity-"
                      :value="item.quantity"
                      class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" />

                    <button
                      @click="item.quantity = incrementQuantity(item.key, item.quantity)"
                      type="button"
                      class="h-10 w-10 leading-10 text-gray-600 transition hover:opacity-75">
                      &plus;
                    </button>
                  </div>
                  </div>

                  <div class="flex flex-1 items-center justify-end gap-4">
                    <span>${store.money(item.price)}</span>

                    <button @click="removeFromCart($event, item.key)" class="text-gray-600 transition hover:text-red-600">
                      <span class="sr-only">Remove item</span>
                      {% render 'icon-trash' %}
                    </button>
                  </div>
                </li>
              </template>
          </ul>

          {% comment %} Totals {% endcomment %}
          <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
            <div class="w-screen max-w-lg space-y-4">
              <dl class="space-y-0.5 text-sm text-gray-700">
                <div v-cloak class="flex justify-between my-4">
                  <dt>Subtotal</dt>
                  <dd>${store.money(cartSubtotal)}</dd>
                </div>

              <div class="flex justify-end">
                <a href="#" class="btn btn-neutral">
                  Checkout
                </a>
              </div>
            </div>
          </div>
        </div>
{% comment %} notes do something with this {% endcomment %}
        <div class="w-full my-4">
            <div class="flex flex-col items-start">
              <label for="cart_notes" class="my-1">Cart notes</label>
              <textarea
                name="note"
                id="cart_notes"
                class="w-full md:max-w-lg resize-none border h-20"></textarea>
            </div>
          </div>
      </div>
    </div>
  </section>
  {% else %}
    <div class="max-w-6xl h-60 my-4 mx-auto flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-3xl my-4">Your cart is empty</h1>
        <div class="my-4 py-4">
          <a href="{{ routes.all_products_collection_url }}" class="border border-gray-600 text-white bg-gray-600 px-8 py-3">
            Continue shopping
          </a>
        </div>
      </div>
    </div>
  {% endif %}



  {% schema %}
    {
      "name": "Template Cart",
      "blocks": [
        {
          "type": "subtotal",
          "name": "Subtotal",
          "limit": 1
        }, {
          "type": "update_button",
          "name": "Update Button",
          "limit": 1
        }, {
          "type": "checkout_button",
          "name": "Checkout Button",
          "limit": 1
        }
      ]
    }
  {% endschema %}